<h1>Add a new planet</h1>

<%= form_for(@planet) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :width %>
    <%= f.text_field :width %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>

  <div class="field submit">
    <%= f.submit "Create Planet" %>
  </div>
<% end %>