<div class="page-header">
  <h1>Add a new planet</h1>
</div>

<%= form_for(@planet) do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="control-group">
      <%= f.label :width %>
      <%= f.text_field :width %>
    </div>

    <div class="control-group">
      <%= f.label :height %>
      <%= f.text_field :height %>
    </div>

    <div class="form-actions">
      <%= f.submit "Create Planet", class: "btn btn-primary" %>
      <%= link_to "Cancel", planets_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>