<script type="text/javascript">
  $(document).ready(function() {
    PlanetMap.setup('planet_map', <%= @planet.width %>, <%= @planet.height %>);
    PlanetMap.renderMap(<%= @planet.organisms.to_json.html_safe %>);

    $(game).bind('game:advanced', function(e, json){
      var request = $.ajax('<%= planet_path(@planet) %>.json');
      request.complete(function(response) {
        var json = JSON.parse(response.responseText);
        $('[data-age]').html(json.age);
        PlanetMap.renderMap(json.organisms);
      });
    });
  });
</script>

<div class="page-header">
  <h1><%= @planet.name %></h1>
</div>

<ul class="breadcrumb">
  <li><a href="/">Current Game</a> <span class="divider">/</span></li>
  <li><%= link_to "Planets", planets_path %> <span class="divider">/</span></li>
  <li class="current"><%= @planet.name %></li>
</ul>

<div class="row-fluid">
  <div class="span8" id="planet_map"></div>

  <div class="span4">
    <table class="table table-bordered">
      <tr>
        <th>Birth Year</th>
        <th>Age</th>
      </tr>
      <tr>
        <td data-birthyear=""><%= @planet.birth_year %></td>
        <td data-age=""><%= @age %></td>
      </tr>
    </table>
  </div>
</div>