<script type="text/javascript">
  $(document).ready(function() {
    PlanetMap.setup('planet_map', <%= @planet.width %>, <%= @planet.height %>);
    PlanetMap.renderMap(<%= @planet.organisms.to_json.html_safe %>);

    $('#run_game').click(game.run);
    
    $(game).bind('game:advanced', function(e, json){
      var request = $.ajax('<%= planet_path(@planet) %>.json');
      request.complete(function(response) {
        var json = JSON.parse(response.responseText);
        $('[data-age]').html(json.age);
        PlanetMap.renderMap(json.organisms);
      });
    });
  });
</script>

<div class="page-header">
  <h1><%= @planet.name %></h1>

  <a class="btn btn-primary btn-large btn-action" id="run_game" href="#">Run</a>
</div>

<ul class="breadcrumb">
  <li><a href="/">Current Game</a> <span class="divider">/</span></li>
  <li><%= link_to "Planets", planets_path %> <span class="divider">/</span></li>
  <li class="current"><%= @planet.name %></li>
</ul>

<div id="planet_map"></div>

<ul>
  <li>Birth Year: <%= @planet.birth_year %></li>
  <li>Age: <span data-age=""><%= @age %></span></li>
</ul>
